body {
  background-color: aqua;
  font-family: Georgia;
}

h1 {
  font-family: Comic Sans MS;
  font-size: 60px;
  color: darkblue;
}

.href1 {
  color: aliceblue;
}

h4 {
  text-align: right;
}

.p1 {
  text-align: justify;
  color: rgb(255, 140, 0);
}

.p2 {
  text-align: justify;
}
